<div class="left_nav">
    <div class="properties">
        <a href="/admin/dashboard">Home</a>
        <a href="/admin/all-products">All-Product</a>
        <a href="/admin/add-product">Add-Product</a>
        <a href="/admin/edit-product">Edit-Products</a>
    </div>

</div>