
<div class="modal hide_modal">
    <div class="modal_content">
        <p>Are you sure you want delete Product</p>
        <div class="close_delete">
            <a href="/deleteProduct/<%= product._id %>">Yes</a>
            <a href="#" class="close_btn">No</a>
        </div>
    </div>
</div>